*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow Condensed';
}
a{
    text-decoration: none;
    cursor: pointer;
}
.nav-bar{
    background-color: rgb(35, 35, 35);
    color: white;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 9em;
    grid-row-gap: 1em;
    padding: 14px 64px;
    margin-bottom: 36px;
    z-index: 1;
}
.nav-bar .page{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
    font-weight: 600;
    margin-left: 80px;
}
.nav-bar .page a{
    color: white;
}
.nav-bar .icon{
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: -12px;
}
.nav-bar .icon i{
    padding: 0 16px;
    cursor: pointer;
    font-size: 20px;
}
.nav-bar .icon a{
    text-decoration: none;
    color: white;
    padding-left: 10px;
}
.nav-bar .logo a{
    color: white;
    text-decoration: none;
}
.nav-bar .logo{
    display: flex;
    justify-content: left;
}



.page a {
    color: #000;
    position: relative;
    text-decoration: none;
    z-index: 0;
}
.page a::before {
    background: slategray;
    content: "";
    inset: 0;
    position: absolute;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s ease-in-out;
    z-index: -1;
}
  
.page a:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}



.slideshow-container {
    align-items: center;
    max-width: 1000px;
    position: initial;
    margin: auto;
}
.w3-content{
    max-width:980px;
}
.w3-auto{
    max-width:1140px;

}
.w3-animate-fading{
    animation:fading 5.5s infinite;
}
@keyframes fading{
    0%{opacity:0}
    50%{opacity:1}
    100%{opacity:0}
}
.mySlides:hover{
    cursor: pointer;
}




.title{
    text-align: center;
    font-size: 50px;
}





.card{
    display: inline-block;
    height: 385px;
    width: 236px;
    margin: 0px 20px;
    margin-top: 50px;
    font-family: sans-serif;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    padding: 16px 32px;
}
.card img{
    border-radius: 20px;
}
  
.card-content h4{
    text-align: center;
}
  
.card-content h5{
    font-size: 30px;
    text-align: center;
    margin-top: -35px;
}
  
.card-content li{
    list-style: none;
    text-align: center;
    margin-top: 15px;
}
  
.card-content a{
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 10px 30px;
    font-size: 13px;
    border-radius: 2px;
}
  
.card-content a:hover{
    background-color: black;
    color: white;
}
.colorway{
    font-size: 15px;
    opacity: 65%;
    margin-top: 10px;
}
.price-and-buy{
    margin-top: 80px;
}
.card img:hover{
    cursor: pointer;
}
.name:hover{
    cursor: pointer;
}
.name{
    margin-top: 20px;
}
.footwear{
    text-align: center;
    margin-top: 180px;
}
.title{
    margin-top: 50px;
}

.banner {
    max-width: 95vw;
    border-radius: 2px;
    display: block;
    margin: 0 auto;
    max-height: 400px;
    background-image: linear-gradient(to bottom right,darkblue, black);
}
.slides{
    margin-top: 200px;
}
.sandals{
    margin-top: 200px;
}




.footer{
    padding: 80px;
    background-color: rgb(35, 35, 35);
    color: white;
    text-align: center;
    font-size: 12px;
}
.banner h1{
    color: white;
    font-size: 60px;
    margin: 50px 60px;
    text-align: center;
}



